body {
    padding: 0;
    margin: 0;
    background: grey;
}

#topBar {
    top: 0;
    position: fixed;
    width: 94vw;
    height: 70px;
    padding: 10px 3vw;
    -webkit-transition: .4s; /* For Safari 3.1 to 6.0 */
    transition: .4s;
}

span {
    display: inline-block;
    vertical-align: middle;
}

#barLink {
    height: 100%;
    line-height: 70px;
    float: right;
    text-align: center;
    margin: auto;
    width: 10vw;
    color: white;
    font-weight: bold;
    -webkit-transition: .4s; /* For Safari 3.1 to 6.0 */
    transition: .4s;
}

@media (max-width: 900px) {
    #topBar {
        height: 80px;
    }
}

#main {
    max-width: 1200px;
    margin-top: 14vh;
    padding: 0 12vw;
    height: 3000px;
}

#logo {
    max-width: 15vw;
}

#mainPic {
    max-width: 100%;
}