body {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar
{
    width: 0.5vw;  /* for vertical scrollbars */
    height: 0.5vw; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.5);
}

#topBar {
    top: 0;
    position: fixed;
    width: 94vw;
    height: 70px;
    padding: 10px 3vw;
    -webkit-transition: .4s; /* For Safari 3.1 to 6.0 */
    transition: .4s;
}

span {
    display: inline-block;
    vertical-align: middle;
}

#barLink {
    height: 100%;
    line-height: 70px;
    float: right;
    text-align: center;
    margin: auto;
    width: 10vw;
    color: white;
    font-weight: bold;
    -webkit-transition: .4s; /* For Safari 3.1 to 6.0 */
    transition: .4s;
}

@media (max-width: 900px) {
    #topBar {
        height: 80px;
    }
}

#main {
    max-width: 1200px;
    padding: 14vh 12vw;
    background: #333;
    overflow: hidden;
}

#logo {
    max-width: 15vw;
}

#mainPic {
    max-width: 100%;
}

#soon {
    margin-top: 10vh;
    font-size: 2vw;
    color: white;
}

#production {
    margin-top: 200px;
    color: white;
}

.left {
    text-align: center;
    float: left;
    width: 40%;
}

.mid {
    text-align: center;
    float: left;
    width: 20%;
    font-weight: bold;
}

.right {
    text-align: center;
    float: right;
    width: 40%;
}

.half {
    width: 50%;
}

#albumPic {
    max-width: calc(100% - 10vw);
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 50px;
}

#prodCredits {
    width: calc(100% - 10vw);
    margin-left: 5vw;
    margin-right: 5vw;
}

#prodHeader {
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 2.3vw;
    font-weight: bold;
}

#formSection {
}

#formPic {
    max-width: 100%;
}

#formLeft {
    padding: 50px 0;
    margin-left: 10%;
    width: 40%;
    float: left;
}

#formHeader {
    font-size: 2vw;
    font-weight: bold;
}

.red {
    color: orangered;
}

.italic {
    font-style: italic;
}

.small {
    font-size: 1vw;
}

.formSub {
    float: right;
    background: white;
    border: solid black 1px;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    margin-right: 20%
}

.formSub:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 1px 4px 0;
}

#f {
    width: 20%
}

#l {
    width: 30%;
}

#e {
    width: 50%;
}

#t {
    width: 50%;
    height: 200px;
    word-break: break-word;
}